<a href="https://colab.research.google.com/github/seoryeongwi/22_05_Report/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(1+2,2-3,3*4,4/4)

3 -1 12 1.0

In [2]:
print("*"*40)
print("* 제1조 1항 대한민국은 민주공화국이다.*")
print("*"*40)

****************************************
* 제1조 1항 대한민국은 민주공화국이다.*
****************************************

In [3]:
name = input("이름을 입력하시오.: ")
age = input("나이를 입력하시오.: ")
addr = input("주소를 입력하시오.: ")
print(name)
print(age)
print(addr)
print(name, age, addr)

이름을 입력하시오.: 위서령
나이를 입력하시오.: 20
주소를 입력하시오.: 군산시 수송동로 105
위서령
20
군산시 수송동로 105
위서령 20 군산시 수송동로 105

In [4]:
n1 = input("첫번째 정수를 입력하시오. :")
n2 = input("두번째 정수를 입력하시오. :")
print("두 합의 값은",n1+n2, "입니다.")

첫번째 정수를 입력하시오. :100
두번째 정수를 입력하시오. :100
두 합의 값은 100100 입니다.

In [5]:
n1 = int(input("첫번째 정수를 입력하시오. :"))
n2 = int(input("두번째 정수를 입력하시오. :"))
print("두 합의 값은",n1+n2, "입니다.")

첫번째 정수를 입력하시오. :100
두번째 정수를 입력하시오. :100
두 합의 값은 200 입니다.